.searchbox {
  background-color: $color-ml-yellow;
  height: 2.7rem;
  justify-content: center;
  display: flex;
  padding: 5px;

  &__logo {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    img {
      margin-right: 5px;
    }
  }

  input {
    flex: 3;
    padding-left: 1rem;
  }

  &__button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    div {
      height: 31px;
      width: 34px;
      background-color: $color-light-grey;
      padding: 8px;
    }
  }
}